<!DOCTYPE html>
<html>
  <head>
    <title>Pirates</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/pirates" method="post">
      <input type="text" name="name" placeholder="Pirate Name">
      <input type="text" name="drink" placeholder="Pirate Beverage">
      <input type="text" name="accessory" placeholder="Pirate Accessory">
      <input type="submit" value="Create Pirate">
    </form>
  </body>
</html>
